# The loopback network interface
auto lo
iface lo inet loopback

# Host Physical Interface
auto {{ rpc_networking.host.interface }}
iface {{ rpc_networking.host.interface }} inet static
address {{ rpc_networking.host.address }}
netmask {{ rpc_networking.host.netmask }}
gateway {{ rpc_networking.host.gateway }}
dns-nameservers {{ rpc_networking.host.nameservers }}
{% if rpc_networking.host.mtu is defined %}
mtu {{ rpc_networking.host.mtu }}
{% endif %}

# PLUMgrid Fabric Physical Interface
auto {{ rpc_networking.plumgrid.interface }}
iface {{ rpc_networking.plumgrid.interface }} inet manual
mtu {{ rpc_networking.plumgrid.mtu }}

# Container VLAN Tagged Interface
auto {{ rpc_networking.mgmt.interface }}.{{ rpc_networking.mgmt.vlan }}
iface {{ rpc_networking.mgmt.interface }}.{{ rpc_networking.mgmt.vlan }} inet manual
{% if rpc_networking.mgmt.mtu is defined %}
mtu {{ rpc_networking.mgmt.mtu }}
{% endif %}

# Storage VLAN Tagged Interface
auto {{ rpc_networking.storage.interface }}.{{ rpc_networking.storage.vlan }}
iface {{ rpc_networking.storage.interface }}.{{ rpc_networking.storage.vlan }} inet manual
{% if rpc_networking.storage.mtu is defined %}
mtu {{ rpc_networking.storage.mtu }}
{% endif %}

# Swift Replication VLAN Tagged Interface
auto {{ rpc_networking.swift.interface }}.{{ rpc_networking.swift.vlan }}
iface {{ rpc_networking.swift.interface }}.{{ rpc_networking.swift.vlan }} inet manual
{% if rpc_networking.swift.mtu is defined %}
mtu {{ rpc_networking.swift.mtu }}
{% endif %}

{% if rpc_networking.plumgrid_gateway is defined %}
# PLUMgrid Gateway VLAN Tagged Interface
auto {{ rpc_networking.plumgrid_gateway.interface }}.{{ rpc_networking.plumgrid_gateway.vlan }}
iface {{ rpc_networking.plumgrid_gateway.interface }}.{{ rpc_networking.plumgrid_gateway.vlan }} inet manual
mtu {{ rpc_networking.plumgrid_gateway.mtu }}
{% endif -%}

# Container Bridge
auto br-mgmt
iface br-mgmt inet static
address {{ rpc_networking.mgmt.address }}
netmask {{ rpc_networking.mgmt.netmask }}
{% if rpc_networking.mgmt.mtu is defined %}
mtu {{ rpc_networking.mgmt.mtu }}
{% endif %}
bridge_ports {{ rpc_networking.mgmt.interface }}.{{ rpc_networking.mgmt.vlan }}
bridge_stp off
bridge_waitport 0
bridge_fd 0

# Storage Bridge
auto br-storage
iface br-storage inet static
address {{ rpc_networking.storage.address }}
netmask {{ rpc_networking.storage.netmask }}
{% if rpc_networking.storage.mtu is defined %}
mtu {{ rpc_networking.storage.mtu }}
{% endif %}
bridge_ports {{ rpc_networking.storage.interface }}.{{ rpc_networking.storage.vlan }}
bridge_stp off
bridge_waitport 0
bridge_fd 0

# VLAN Bridge (Not used)
auto br-vlan
iface br-vlan inet manual
bridge_ports none
bridge_stp off
bridge_waitport 0
bridge_fd 0

# VXLAN Bridge
auto br-vxlan
iface br-vxlan inet static
address {{ rpc_networking.vxlan.address }}
netmask {{ rpc_networking.vxlan.netmask }}
{% if rpc_networking.vxlan.mtu is defined %}
mtu {{ rpc_networking.vxlan.mtu }}
{% endif %}
bridge_ports none
bridge_stp off
bridge_waitport 0
bridge_fd 0

# Swift Replication Bridge
auto br-swift
iface br-swift inet static
address {{ rpc_networking.swift.address }}
netmask {{ rpc_networking.swift.netmask }}
{% if rpc_networking.swift.mtu is defined %}
mtu {{ rpc_networking.swift.mtu }}
{% endif %}
bridge_ports {{ rpc_networking.swift.interface }}.{{ rpc_networking.swift.vlan }}
bridge_stp off
bridge_waitport 0
bridge_fd 0

# PLUMgrid Fabric Bridge for LCM VM
auto br-fb
iface br-fb inet static
address {{ rpc_networking.plumgrid.address }}
netmask {{ rpc_networking.plumgrid.netmask }}
mtu {{ rpc_networking.plumgrid.mtu }}
bridge_ports {{ rpc_networking.plumgrid.interface }}
bridge_stp off
bridge_waitport 0
bridge_fd 0

source /etc/network/interfaces.d/*.cfg
